body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(90deg, white);
  }
  .box {
    color: white;
    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: blue;
    padding: 40px;
    border-radius: 25px;
    width: 25%;
    box-shadow: 5px 5px 0 black;
  }
  fieldset
  {
    border: 4px solid white;
  }
  .inputBox {
    position: relative;
  }
  .inputUser {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 4px;
  }
  #submit {
    background-image: linear-gradient(to right,rgb(0, 94, 255), rgba(0, 0, 255, 0.388));
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  #submit:hover {
    background-image: linear-gradient(
      to right,
      rgb(0, 94, 255),
      rgba(0, 0, 255, 0.388)
    )
  }
  .retorno{
    background-image: linear-gradient(to right, rgb(0, 45, 245), rgb(25, 0, 168));
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
  }
  #retorno:hover{
    background-image: linear-gradient(
      to right,
      rgb(0, 16, 163),
      rgb(51, 9, 165)
    )
  }
  h1
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  background-color: rgb(0, 145, 255);
  color: white;
  
  }

  h2
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  text-align: center;
  background-color: rgb(0, 145, 255);
  color: white;
  }

  h3
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  background-color: rgb(0, 145, 255);
  color: white;
  }
        
  h4
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  text-align:center;
  background-color: rgb(0, 145, 255);
  color: white;
  }   

  h5
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  color:black ;
  }
  
  p
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  text-align: left;
  color: white; 
  }

  p1 
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  text-align:center;
  background-color: rgb(0, 145, 255);
  color: black;
  }

  li
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  color: black;
  }
  
  section
 {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  color: white;
  }   

  div
  {
  font-family: Ariel, Hervetica, sans-seriif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  color: white;   
  } 

  .formContato
  {    
    right: 20%;
    width: 300px;
    height: 300px;
    font-size: 150%;
    font-family: sans-serif;
    margin: 50px auto 100%;
    border: rgb(5, 1, 16);
    border-radius: 25px;
    
  }
  .formContato 
  {
    margin-top: 15;
    display: block;
    border-radius: 25px;
  }

  .formContato fieldset
  {
    right: 30%;
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 25px;
    border: 5px solid rgb(0, 0, 6);
    background: black;
    color: white;
    border-radius: 15px;
  }
     
  #name, #e-mail, #telefone,#mensagem .btn
  {
    display: block;
    right: 30%;
    width: 500%;
    box-sizing: border-box;
    padding: 25px;
    font-size: 150%;
    margin: 50px auto 100%;
    border: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 10px;
  }
  .btn
  {
    margin-top: 15px;
  }
  #name
  {
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  #e-mail
  {
    margin-bottom: 15px;
    border-bottom-left-radius: 3px;
  }
  #telefone
  {
    margin-bottom: 15px;
    border-bottom-left-radius: 3px;
  }
  #mensagem
  {
    margin-bottom: 15px;
    border-bottom-left-radius: 3px;
  }
   .FaleConosco
   {
    position: absolute;
    right: 65%;

   }
   .Logo
   {
    background: -webkit-gradient(linear, left top, right top, from(#1b86dd), to(#034086))no-repeat; 
    border-bottom-left-radius: 3px;
   }
   .direitos_reservados
   {
    background-color:  blue; 
   }
   